body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa !important;
}

.card {
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Efek angkat pada kartu di halaman publik */
#publicDataContainer .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.table thead th {
    background-color: #212529;
    color: white;
    border-bottom: none;
    padding: 12px 15px;
    white-space: nowrap;
}

.table td {
    vertical-align: middle;
    padding: 12px 15px;
    white-space: nowrap;
}
